$main: rgb(8, 169, 8);
$main-hover: rgb(14, 119, 14);
$grey: #91918e;
$light-grey: rgba(227, 226, 224, 0.5);
$required: rgb(169, 37, 43);
$border-color: rgba(55, 53, 47, 0.164);
$green: #6c9b7d;
$light-green: rgba(219, 237, 219, 0.5);
$blue: #5b97bd;
$light-blue: rgba(221, 229, 239, 0.5);
$text-tag-color: rgba(53, 53, 47, 0.6);
$text-color: #000000;
