.container {
  /* styles for the outer container */
  padding: 10px;
  flex: 1;
  transition: all 0.3s ease-in;
  height: 50px;
}

.iconContainer {
  /* styles for the icon container */
  cursor: pointer; /* add this to make the cursor change on hover */
  width: fit-content;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    background-color: #edece9;
  }
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.iconContainer:hover {
  /* styles for the icon container when hovering */
  //background-image: url("../../../public/changeicon.svg");
}
.headerTitle {
  padding-right: 10px;
}
.title {
  display: flex;
  flex-direction: row;
}
.titleText {
  padding-left: 10px;
}
