
::-webkit-scrollbar{
    width: 10px;
    padding: 0;
}
::-webkit-scrollbar-track{
    background: rgb(255, 255, 255);
}
::-webkit-scrollbar-thumb{
    background-image: linear-gradient(#a5a2a2,#a5a2a2);
    border-radius: 30px;
}
